.about-header {
  background-color: #fff;
  text-align: center;
}

.about-info p {
  color: #697072;
  text-align: left;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}
