<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Speakers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <ion-list [virtualScroll]="speakers">
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let speaker" approxItemHeight="457px">

          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none (click)="goToSpeakerDetail(speaker)">
                  <img [src]="speaker.profilePic" alt="{{speaker.name}} profile pic">
              </button>
              <h2 text-center>{{speaker.name}}</h2>
            </ion-card-header>

            <ion-card-content class="outer-content" text-wrap>
              <ion-list>
                <button ion-item *ngFor="let session of speaker.sessions" (click)="goToSessionDetail(session)">
                  <h3>Talk: {{session.name}}</h3>
                </button>

                <button ion-item (click)="goToSpeakerDetail(speaker)">
                  <h3 text-center>Click to find out more about {{speaker.name}}</h3>
                </button>
              </ion-list>
            </ion-card-content>

            <ion-row padding>
              <ion-col col-3 col-lg-auto text-center text-lg-left *ngIf="speaker.twitter !== undefined">
                <button ion-button clear small color="dark" icon-start (click)="goToSpeakerTwitter(speaker)">
                  <ion-icon name="logo-twitter"></ion-icon></button>
              </ion-col>
              <ion-col col-3 col-lg-auto text-center>
                <button ion-button clear small color="dark" icon-start (click)="openSpeakerShare(speaker)">
                  <ion-icon name='share-alt'></ion-icon></button>
              </ion-col>
              <ion-col col-3 col-lg-auto text-center text-lg-right *ngIf="speaker.email !== undefined">
                <button ion-button clear small color="dark" icon-start (click)="openContact(speaker)">
                  <ion-icon name='chatboxes'></ion-icon></button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
